# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Flask-specific files
instance/
.webassets-cache
config.py

# Logs
*.log
debug.log
logs/

# Translations
*.mo
*.pot

# Temporary files
tmp/
temp/
*.tmp

# IDE / Editor settings
.vscode/
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# IPython and Jupyter Notebook
.ipynb_checkpoints

# PyPI configuration
.pypirc

# Static Type Checkers
.mypy_cache/
.dmypy.json
.pytype/
.pyre/

# Cython debug symbols
cython_debug/

# npm installed files
node_modules/

